@import '~antd/dist/antd.css';

#root, .App {
  height: 100vh;
  background-color: #f9f9f9;
}

.App {
  overflow-y: auto;
}

.header {
  height: 56px;
  line-height: 56px;
  background-color: #fff;
  padding: 0 20px;
  font-size: 1.5em;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mock-server-list {
  display: flex;
}

.mock-server-list .ant-card {
  margin: 0.5rem;
  min-height: 85px;
}

.new-mock-server .ant-btn {
  height: 100%;
  width: 100%;
  color: #52c41a;
  background-color: #fff;
  transition: color 0.4s, background-color 0.4s;
  border-radius: 0;
}

.new-mock-server .ant-btn:hover {
  color: #fff;
  background-color: #52c41a;
}

.ant-input {
  width: 200px !important;
}

.ant-input-group-wrapper {
  width: unset !important;
}

.alert-holder {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
}
